<ul>
  <li>
    <a href="#"
      ><i class="fab" aria-hidden="true"
        ><ion-icon name="logo-github"></ion-icon></i
    ></a>
  </li>
  <li>
    <a href="#"
      ><i class="fab" aria-hidden="true"
        ><ion-icon name="logo-linkedin"></ion-icon></i
    ></a>
  </li>
  <li>
    <a href="#"
      ><i class="fab" aria-hidden="true"
        ><ion-icon name="logo-facebook"></ion-icon></i
    ></a>
  </li>
  <li>
    <a href="#"
      ><i class="fab" aria-hidden="true">
        <ion-icon name="logo-instagram"></ion-icon></i
    ></a>
  </li>
</ul>
